<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" />
  <link rel="stylesheet" href="/styles/agenda.css">
  <link rel="stylesheet" href="/styles/calendario.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
  <title>Kamra sanación y evolución</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary" id="navbar">
    <div class="container-fluid" id="navbar-container">
      <a class="navbar-brand " id="navbar-margin" href="/html/inicio.html"> <img src="/resources/kamra.jpeg"
          id="icon-navbar"> Kamra sanación y evolución</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
        <ul class="navbar-nav mb-2 mb-lg-0" id="ul-navbar">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/html/inicio.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/html/tarot.html">Tarot</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/html/ankh.html">Ankh</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/user/servicios" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);">
              Agenda
            </a>
          </li>
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0" id="buttons-navbar">
          <li class="nav-item">
            <a class="nav-link" href="/html/register.html">
              <button class="btn btn-primary btn-sm" id="botones" type="submit">Registrarse</button>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/html/login.html">
              <button class="btn btn-primary btn-sm" id="botones" type="submit">Salir</button>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>










  <div class="container-fluid p-0 text-center w-100 h-100">
    <div class="container-fluid p-0" id="service-title">
      <h5 style="margin: 0px; padding: 10px 10px; color: black; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);">
        Agendar hora
      </h5>
    </div>

    <div class="container-fluid p-0 w-100" style="height: 60px; background-color: #E6E6E6;">
      <div class="row m-0 p-0 h-100">

        <a href="agenda.html" class="col-md-4 d-none d-md-flex" id="service-active"
          style="text-decoration: none; border-radius: 0px;">
          <div class="col-lg-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-briefcase"
              viewBox="0 0 16 16">
              <path
                d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5zm1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0zM1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5z" />
            </svg>
          </div>
          <div class="col-lg-7">
            <p class="m-0">Servicio</p>
          </div>
          <div class="col-lg-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
              class="bi bi-caret-right-fill" viewBox="0 0 16 16">
              <path
                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
            </svg>
          </div>
        </a>
        <a href="fecha.html" class="col-md-4" id="service-active" style="text-decoration: none;">
          <div class="col-lg-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
              class="bi bi-calendar-week" viewBox="0 0 16 16">
              <path
                d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z" />
              <path
                d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
            </svg>
          </div>
          <div class="col-lg-7">
            <p class="m-0">Fecha</p>
          </div>
          <div class="col-lg-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
              class="bi bi-caret-right-fill" viewBox="0 0 16 16">
              <path
                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
            </svg>
          </div>
        </a>


        <a href="confirmacion.html" class="col-md-4 d-none d-md-flex" id="service-inactive"
          style="text-decoration: none;">
          <div class="col-lg-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
              class="bi bi-clipboard-check" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
              <path
                d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
              <path
                d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
            </svg>
          </div>
          <div class="col-lg-8">
            <p class="m-0">Confirmación</p>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="d-flex row-flex px-5">
    <div class="col-calendario  rounded-5 m-5">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/locale-all.js"></script>
      <!-- calendario -->
      <div id="calendarContainer">
        <div id="calendar"></div>
      </div>

    </div>
    <div class="col-h-disp border border-dark rounded-5 m-5 px-5">
      <div class="vstack gap-1">
        <div class="p-2 text-center fw-bold mt-2 h5">Horas disponibles</div>
        <div class="p-2 border border-dark rounded-5 text-center bg-white ">
          <div class="row">
            <div class="col text-start">

            </div>
            <div class="col">
              <!-- Titulo fecha -->
              <h5 id="tituloFecha"></h5>
            </div>
            <div class="col text-end">
              <!-- flecha -->
            </div>
          </div>
        </div>

        <div class="p-2">
          <div class="d-flex flex-wrap">
            <!-- HORAS DISPONIBLE POR DIA -->
            <form id="formulario" th:action="@{/user/enviar-consulta}" method="post">
              <div id="fechasDisponibles"></div>
              <select id="miSelect" name="hora"></select>
              <input type="text" name="id" id="idServicio">
              <input type="text" name="fecha" id="fecha">
              <input type="submit" value="Enviar fechas">
            </form>
          </div>
        </div>

      </div>

    </div>
  </div>


  <script>

    //Capturando dato id.
    var urlParams = new URLSearchParams(window.location.search);
    var id = urlParams.get('id');

    $(document).ready(function () {

      //Modificando dato id.
      $('#idServicio').hide();
      $('#idServicio').val(id);

      $('#calendar').fullCalendar({

        //Configuraciones del calendario.
        locale: "es",
        selectable: true,
        defaultView: "month",
        showNonCurrentDates: false,
        //Funcion para quitar botones del calendario.
        viewRender: function (view, element) {
          $('.fc-prev-button,.fc-today-button, .fc-next-button',).hide();
        },
        select: function (start) { //Al seleccionar un elemento
          var selectedDate = start.format();
          var tituloFechaContainer = $('#tituloFecha');
          var fechaContainer = $("#fecha");
          
          fechaContainer.val(selectedDate);
          fechaContainer.hide();
          
          tituloFechaContainer.text(selectedDate);

          // Realiza una llamada AJAX para obtener las horas disponibles
          $.ajax({
            url: "/test/disp",
            data: { fecha: selectedDate },
            success: function (data) {
              // data contendrá la respuesta del servidor con las horas disponibles
              // Aquí puedes mostrar las horas disponibles al usuario o realizar otras acciones

              var select = $('#miSelect');
              select.empty(); // Se vacia el contenedor

              data.forEach(function (fecha) {
                var fechaElement = $('<select>').val(fecha);

                select.append($('<option>', {
                  value: fecha,
                  text: fecha
                }));


              });
            },
          });
        }
      });
    });
  </script>


</body>

</html>