<!doctype html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

  <head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>    
    <link rel="stylesheet" href="/styles/panel.css">
  </head>
  <body>
    <div class="container-fluid grid m-0 p-0" id="aside-container">
        <aside>
            <div class="top-sidebar">
                <div class="logo">
                    <img src="/resources/logo.jpeg">
                    <a href="http://localhost:8080/inicio" style="text-decoration: none;
                    color: inherit;"><h2>Kamra</h2></a>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-outlined">close</span>
                </div>
            </div>

            <div class="sidebar">
                <a href="/admin/">
                    <span class="material-icons-outlined">dashboard</span>
                    <h3>Panel</h3>
                </a>
                <a href="/admin/sesiones">
                    <span class="material-icons-outlined">fact_check</span>
                    <h3>Sesiones</h3>
                    <!-- Sesiones totales, anuales, semanales -->
                </a>
                <a href="/admin/ingresos">
                    <span class="material-icons-outlined">paid</span>
                    <h3>Ingresos</h3>
                    <!-- Ingresos totales, anuales, semanales -->
                </a>
                <a href="/admin/ankhPanel">
                    <img src="/resources/icon-ankh.png">
                    <h3>Ankh</h3>
                    <!-- Sesiones totales, anuales, semanales -->
                </a>
                <a href="/admin/tarotPanel">
                    <img src="/resources/icon-tarot.png">
                    <h3>Tarot</h3>
                    <!-- Sesiones totales, anuales, semanales -->
                </a>
                
                
            </div>
        </aside>
        <!-- Fin barra lateral -->
        <main>

    
            <div class="container-fluid">
                <h3>Sesiones</h3>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Cliente</th>
                        <th scope="col">Servicio</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Sesion</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td>Francisca Anubis Rivas Quezada</td>
                          <td>Tarot</td>
                          <td>$35.000</td>
                          <td>17/02/2023</td>
                          <td>2</td>
                        </tr>
                    </tbody>
                    
                  </table>
            </div>
        </main>
    </div>
  </body>
</html>