<!doctype html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/tarot.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <title>Kamra sanación y evolución</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" id="navbar">
        <div class="container-fluid"  id="navbar-container">
          <a class="navbar-brand " id="navbar-margin" href="/inicio"> <img src="/resources/kamra.jpeg"  id="icon-navbar"> Kamra sanación y evolución</a>
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
            <ul class="navbar-nav mb-2 mb-lg-0" id="ul-navbar">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/inicio">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/tarot" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);">
                  Tarot
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/ankh">Ankh</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/html/agenda.html">Agenda</a>
              </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0" id="buttons-navbar">
              <li class="nav-item">
                  <a class="nav-link" href="/register">
                      <button class="btn btn-primary btn-sm" id="botones" type="submit">Registrarse</button>
                  </a> 
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/login">
                      <button class="btn btn-primary btn-sm" id="botones" type="submit">Iniciar sesión</button>
                  </a> 
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <div class="container-fluid mt-5" style="margin: 0px;" id="container-desc">
      <h3 class="text-center mb-5" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);">Tarot</h3>
      

      <div class="row border p-5 rounded mt-4 shadow " style="margin: 0px; width: 100%;">
        <div class="col-lg-8 mt-2" id="historia">
          <h4>¿Qué es?</h4>
          <br>
          <p style="font-size: 18px;">
            El tarot es un sistema de autoconocimiento, un mapa de ruta para la vida del ser humano, 
            un gran libro hecho de imágenes que nos ayudan a explorar nuestro interior y conectar con nuestro subconsciente.
            <br> 
            Para algunas personas, es una manera de calmar la ansiedad que les genera pensar en el futuro. 
            Hay muchas formas de ver el Tarot, muchos enfoques: terapéutico, predictivo, evolutivo, etc. 
            Pero aqui lo trabajamos con un enfoque terapéutico y de sanación.
          </p>
            <p style="font-size: 18px;">
            Las cartas del tarot son un mazo compuesto por 78 diseños. 
            Se dividen en 22 Arcanos Mayores (numerados del 1 al 21, más El Loco) y 56 Arcanos Menores 
            (oros, bastos, espadas, copas y sus respectivas sotas, caballos, reinas y reyes). 

            A través de la lectura, podemos conseguir respuestas a interrogantes que nos aquejan, saber sobre 
            los sentimientos de otra persona o incluso, aclararnos para tomar una decisión. Las cartas del tarot, 
            sirven entonces para proyectar una situación en función a hechos presentes y a acciones que en la actualidad 
            llevamos a cabo. Por supuesto que su función es predecir el futuro, pero en base a lo que nosotros muy personalmente 
            hagamos y a las decisiones que tomemos.</p>
        </div>
        <div class="col-lg-4" id="titulo-desc">
          <img src="/resources/tarot que es.jpg" width="70%" height="60%">
        </div>
      </div>
      
      <div class="row border p-5 rounded mt-4 shadow " style="margin: 0px; width: 100%;">
        <div class="col-lg-4" id="titulo-desc">
          <img src="/resources/tarot.jpg" width="70%" height="65%">
        </div>
        
        <div class="col-lg-8 mt-2" id="historia">
          <h4>Origen</h4>
          <br>
          <p style="font-size: 18px;">
            Hay muchas teorías sobre el origen de este libro, pero ninguna está 100% comprobada. <br>
            Una teoría indica que el origen del Tarot se remonta al siglo XIII, 
            cuando los mercaderes de la Ruta de la Seda, trajeron a Occidente el primer mazo de cartas 
            de origen islámico, que consistía en 4 palos. <br>
            Luego, en el siglo XV se incorporaron los triunfos, que eran cartas con dibujos de 
            mayor complejidad a la de los 4 palos anteriores. Eran figuras muy similares a lo que hoy conocemos como 
            los 22 Arcanos Mayores del Tarot. Así nació un nuevo juego llamado Tarocchi en 
            Italia, Tarock en Alemania y Tarot en Francia. <br>
            El primer mazo completo del que se tiene registro es el 
            hermoso y lujoso Tarot de Visconti-Sforza, hecho a mano (aprox. en 1.440) por encargo del Duque de Milán. 
             <br>
            En las reuniones sociales se les solía pedir a los caballeros y doncellas que sacaran una carta de los 
            22 arcanos mayores para interpretar su personalidad y darles predicciones sobre su vida, según la lámina escogida.
          </p>
        </div>
      </div>
      <div class="container-fluid">

      </div>
      <div class="row mt-5 m-0 justify-content-center w-100">
        <div class="col-6" id="boton">
          <a href="agenda.html"><button type="button" class="btn btn-success">Agendar hora</button></a>
        </div>
      </div>
      <br>
    </div>

  </body>
</html>