#navbar{
    padding: 0px;
}
#navbar-container{
    background-color: #D7C9FF;
}
#navbar-margin{
    margin-right: 3%;
    width: 30%;
    padding: 20px;
}

#icon-navbar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
#navbarTogglerDemo02{
    width: 70%;
    justify-content: center;
}

#buttons-navbar{
    justify-content: end;
    width: 80%;
}

#ul-navbar{
    width: 100%;
    justify-content: center;
}

#botones{
    background-color: #E8E7FD;
    color: #33196B;
    border-color: #33196B;
    font-size: 16px;
}

/* END NAVBAR */
#container-frame{
    display: flex;
    align-items: center;
}
#frame{
    display: flex;
    justify-content: center;
    width: 70%;
    background-color: rgb(255, 255, 255);
    align-items: center;
    border-radius: 30px;
}
.formulario{
    width: 80%;
    height: 70%;
    justify-content: center;
    padding-left: 20%;
}

.botones-login{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 1%;
}
#input-form{
    padding: 0px;
}


#icon-form{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

}