#navbar{
    padding: 0px;
}
#navbar-container{
    background-color: #D7C9FF;
}
#navbar-margin{
    margin-right: 3%;
    width: 30%;
    padding: 20px;
}

#icon-navbar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
#navbarTogglerDemo02{
    width: 70%;
    justify-content: center;
}

#buttons-navbar{
    justify-content: end;
    width: 80%;
}

#ul-navbar{
    width: 100%;
    justify-content: center;
}

#botones{
    background-color: #E8E7FD;
    color: #33196B;
    border-color: #33196B;
    font-size: 16px;
}

/* END NAVBAR */

#container-desc{
    margin: 5px;
}

#titulo-desc{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
#historia{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    flex-direction: column;
}
#boton{
    display: flex;
    justify-content: center;
}

